<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.apache.rocketmq.client.producer.DefaultMQProducer" init-method="start" destroy-method="shutdown">
        <!--指定 名称服务器-->
        <property name="namesrvAddr" value="${rocket.namesrvAddr}"/>
        <!--指定组名-->
        <property name="producerGroup" value="ITEM_PRODUCER"/>
    </bean>

</beans>